@page
@model App.Pages.Tasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Tarefas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasksModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasksModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasksModel.Done)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasksModel.Done)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasksModel.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasksModel.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasksModel.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasksModel.EndDate)
        </dd>
        <dt class="col-sm-2">
            Usuário
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasksModel.User)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.TasksModel?.Id">Editar</a> |
    <a class="btn btn-secondary" asp-page="./Index">Voltar</a>
</div>
